
front-end/.idea/.name

front-end/.idea/front-end.iml

front-end/.idea/misc.xml

front-end/.idea/modules.xml

front-end/.idea/vcs.xml

back-end/node_modules/

.DS_Store

.DS_Store

front-end/.idea/workspace.xml

front-end/.idea/workspace.xml

front-end/app/bower_components
